<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @participant.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @participant.telefone %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @participant.event %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
