<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Eventos Ativos</h1>
</div>

<table class="table table-condensed">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.avatar.url(:small) %></td>
        <td><%= event.titulo %></td>
        <td><%= event.data.strftime('%d-%m-%Y') %></td>
        <td><%= link_to 'Detalhes', event, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_event_path(event),class: "btn btn-default" %></td>
        <td><%= link_to 'Apagar', event, method: :delete, data: { confirm: 'Tem certeza?' },class: "btn btn-default" %></td>
        <td><%= link_to 'Participar', new_participant_path(:event_id => event.id), class: "btn btn-success btn-lg" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
