<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @event.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @event.descricao %>
</p>

<p>
  <%= image_tag @event.avatar.url(:small) %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.data.strftime('%d-%m-%Y %R') %>
</p>

<p>
  <strong>Criador:</strong>
  <%= @event.criador %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
